<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Lokal mehr Details -->
    <springProfile name="default">
        <logger name="com.sap.cds" level="DEBUG"/>
        <root level="INFO"><appender-ref ref="CONSOLE"/></root>
    </springProfile>

    <!-- In Cloud eher schlank -->
    <springProfile name="cloud">
        <logger name="com.sap.cds" level="INFO"/>
        <root level="INFO"><appender-ref ref="CONSOLE"/></root>
    </springProfile>
</configuration>
